<ion-header>
  <ion-toolbar>
    <ion-title>Detalles Gasto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" [strong]="true">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item-divider>
      <ion-label> Datos del Gasto </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        <h3>Tipo Gasto</h3>
        <p *ngIf="tipogasto === 1">Prepagado a Empleado</p>
        <p *ngIf="tipogasto === 2">Pospago por Empresa</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Fecha Gasto</h3>
        <p>{{ fecha.substring(0, 10) }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Motivo</h3>
        <p>{{ motivogasto }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Monto </h3>
        <p>{{ monto | number }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Tipo Documento</h3>
        <p *ngIf="tipodoc === 1">Boleta</p>
        <p *ngIf="tipodoc === 2">Factura</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Nro Documento</h3>
        <p>{{ docnro }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Rut Proveedor</h3>
        <p>{{ rutprov }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Razon Social</h3>
        <p>{{ razonsocial }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Observación</h3>
        <p>{{ observ }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Geolocalización</h3>
        <p>Lat: {{ latitud }} - Lng: {{ longitud }}</p>
      </ion-label>
      <ion-button slot="end" (click)="showMap(latitud, longitud)" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="map-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Evidencia</h3>
        <p>Ver evidencia de Gasto</p>
      </ion-label>
      <ion-button slot="end" (click)="loadImage()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
    </ion-item>

    
  </ion-list>
</ion-content>